[Desktop Entry]
Version=1.0
Encoding=UTF-8
Name=Blood Smear
GenericName=Blood Smear
Comment=Start blood smearing program
Exec=python3 /home/debian/blood-smear/smear.py
Icon=utilities-terminal
Type=Application
Categories=Application

# command to move file to Desktop

# cp /home/debian/blood-smear/Smear.desktop /home/debian/Desktop/Smear.desktop